.outer-container {
  width: 600px;

  flex-direction: column;
  align-items: center;
}

.align-center {
  text-align: center;
}

.fila {
  display: flex;
  margin-bottom: 8px;
}

.campo {
  margin-left: 10px;
}

.archivo {
  margin: 20px;
  text-align: left;
}
